html {
  
}
html{
  margin: 0 0;
}
body {
    padding: 0;
    margin: 0;
    text-align: center;
   /* background-image: url('https://i.ibb.co/1rcyv62/Beach.png');
    background-repeat: no-repeat;
    background-size: cover;
   */
  }
  
  
  
  #game-screen-back {
    display: none;
    background-color: bisque;
    background-size: cover;
    height: 100vh;
    margin: 0 0;
    
    /*display: flex;
    width: 100%;
    height: 100vh;
    margin: 0 0;
    justify-content: center;*/
  }

  #stats {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 15px;
    margin-right: 40px


  }
  
  #game-screen {
    display: none;
    margin: auto;
    width: 100vw;
    padding: 20px;
    border-style: solid;
    border-color: #419fce;
    background-image: url('https://i.ibb.co/1rcyv62/Beach.png');
    background-size: cover;
    
    
  }
   
  #game-end {
    display: none;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-image: url('https://i.ibb.co/nDv1zhn/GameOver.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  #game-intro {
    background-image: url('https://i.ibb.co/CbJRKv1/Intro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-position: center center;
    
    /*padding: 420px 0;*/
  }
  #button-intro {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 22vh;
    margin-right: 40vw;
    
  }
  #game-info {
    display: none;
    background-image: url('https://i.ibb.co/DLnsvV1/game-info.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
  }

  #info-hard {
    display: none;
    background-image: url('https://i.ibb.co/cgkR5Rg/info-hard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
  }

  #game-win {
    display: none;
    width: 100vw;
    height: 100vh;
    background-image: url('https://i.ibb.co/B2nS4W6/game-win.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
  }
 
  body button {
    font-size: 15px;
    background-color: #97bed1;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 50px;
    border: 2;
    border-color: #419fce;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    
  }

  #restart-button{
    position: absolute;
    right: 20vw;
    bottom: 15vh;
  }

  #win-button{
    position: absolute;
    right: 45vw;
    bottom: 25vh;
  }

  
 /*  #hard {
    position: relative;
    
    right: 10vw;
    bottom: 7vh;
  }

  #easy {
    position: relative;
    
    right: 25vw;
    bottom: 7vh;
  }
*/
  #start-button {
    position: absolute;
    
    right: 45vw;
    bottom: 7vh;
  }

  #start-button-hard {
    position: absolute;
    right: 45vw;
    bottom: 7vh;
  }

  #live, #time{
    width: 30px;
    height: 30px
  }

  #lives, #timer {
    color: white;
    font-size: 30px;
    margin: 5px;
  }
   button:hover {
    background-color: #419fce;
  
   }
  
  