html {
  height: 100%;
}
body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-image: url(docs/images/Beach.png);
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  
  
  
  #game-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  #stats {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 15px;
    margin-right: 40px


  }
  
  #game-screen {
    display: none;
    align-content: center;
    width: 100%;
    padding: 11px;
    overflow: hidden;
    position: relative;
    background-image: url(docs/images/Beach.png);
    background-size: cover;
    
  }
   
  #game-end {
    display: none;
    width: 100%;
    padding: 410px;
    background-image: url(docs/images/GameOver.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  #game-intro {
    background-image: url(./docs/images/Intro.jpeg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 420px 0;
  }
  #game-info {
    display: none;
    background-image: url(docs/images/game-info.jpeg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 420px 0;
  }

  #info-hard {
    display: none;
    background-image: url(docs/images/info-hard.jpeg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 420px 0;
  }

  #game-win {
    display: none;
    width: 100%;
    padding: 410px;
    background-image: url(docs/images/game-win.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  }
 
  body button {
    font-size: 15px;
    background-color: #97bed1;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 50px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
  }

  #restart-button{
    position: absolute;
    top: 600px;
    left: 900px;
  }

  #win-button{
    position: absolute;
    top: 600px;
    left: 650px;
  }

  
   #hard {
    position: absolute;
    top: 600px;
    left: 800px;
  }

  #easy {
    position: absolute;
    top: 600px;
    left: 550px;
  }

  #start-button {
    position: absolute;
    top: 700px;
    left: 650px;
  }

  #start-button-hard {
    position: absolute;
    top: 700px;
    left: 650px;
  }

  #live, #time{
    width: 30px;
    height: 30px
  }

  #lives, #timer {
    color: white;
    font-size: 30px;
    margin: 5px;
  }
   button:hover {
    background-color: #419fce;
  
   }
  
  